{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div id="content">
    <div class="inner-block">
        <div class="phase-banner">
            <p>
                <strong class="phase-tag">ALPHA</strong>
                <span>This is a new service – your feedback will help us to improve it.</span>
            </p>
        </div>
    </div>

<h1 class="heading-medium">Appointment request details</h1>


<form  method="post" action="apt3" id="postcode">
    <div class="form-group">
      <label class="form-label-bold text">
        Enter Postcode
      </label>
      <div class="form-error validation-message">

      </div>
      <div class="form-hint text">

      </div>
      <input class="form-control" type="text">
    </div>

    <div class="form-group">
      <label class="form-label-bold text">
        Claimant ID
      </label>
      <div class="form-error validation-message">

      </div>
      <div class="form-hint text">

      </div>
      <input class="form-control" type="text">
    </div>
    <div class="form-group">
      <button class="button">
        Search
      </button>
    </div>
</form>

</form>

</div>
</main>

{{/content}}

{{/layout}}
